.card-slider {
    overflow: hidden;
    & > ul {
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition:-webkit-transform 0.5s;
        transition:transform 0.5s;
        & > li{
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition:-webkit-transform 0.5s;
            transition:transform 0.5s;
            position: absolute;
            top: 0;
        }
    }
    .card-scroll-bar{
        background: rgba(51, 51, 51, 0.6);
        .card-bar{
            display: block;
            height: 2px;
            background-color: #fff;
            width: 20px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition:-webkit-transform 0.5s;
            transition:transform 0.5s;
        }
    }
}
