@import "./base/normalize.css";
$bgColor:#FFFFCC #CCFFFF #FFCCCC #99CCCC #FFCC99 #FFCCCC #FF9999 #996699;
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.card-slider{
    ul{
        height: 7rem;
    }
    li{
        
        width: 5rem;
        height: 7rem;
    }
    @for $i from 1 through length($bgColor){
        $c : nth($bgColor, $i);
        .item#{$i}{
            background-color: $c;
        }
    }
}
